body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}
.list {
  text-align: center;
}

header {
  text-align: center;
  padding-bottom: 25px;
}

.label-body {
  border: black solid 1px;
  background-color: bisque;
  margin: 10px;
  width: 700px;
  border-radius: 10px;
}

.title {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.band {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.festivals {
  /* border: 0.5px dotted black; */
  padding: 10px;
  margin: 10px;
  background-color: rgb(219, 186, 145);
  border-radius: 10px;
}

.sort-button {
  border: brown solid;
  background-color: brown;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.sort-button:hover {
  border: solid brown;
  background-color: white;
  color: brown;
}
